* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  width: 28%;
  margin-right: 25px;
}

#header-search {
  border: 1px solid #ff8300;
  border-right: none;
  border-radius: 21px;
  width: 440px;

  input {
    outline: none;
    width: 100%;
  }

  button {
    height: 44px;
    padding: 0 8px;
    background-color: #ff8300;
    min-width: 68px;
    border-radius: 20px;

    color: #fff;
    border: 1px solid #ff8300;

  }
}

#basketMiqdar {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #00ff00;
  position: absolute;
  right: -3px;
  top: -7px;
}

#searchLogo {
  font-size: 16px;
  margin: 0 8px;
  color: #ff8300;
}

#flagAz {
  img {
    margin: 7px;
    width: 18px;
    height: 13px;
  }

  span {
    margin-right: 10px;
  }
}

#call {
  width: 97px;
}

/* header{
  padding: 15px 0;
}  */

nav {
  height: 44px;
  /* padding: 10px; */
  background-color: #ff8300;

  ul {
    gap: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
  }
}

#lock {
  border-right: 1px solid #fff;
  padding: 0 10px;
  font-size: 12px !important;
}

#lockIcon {
  font-size: 10px;
}

#category {
  /* margin-right: 50px; */
  font-size: 15px;
}

#icons {

  span,
  i,
  a {
    color: #fff;
  }

  a {
    font-size: 12px;

    padding-left: 12px;
    margin-right: 30px;
  }

  span {
    font-size: 8px;
  }

}

#cartA {
  position: relative;
}

#triIco {
  i {
    font-size: 18px;
    padding: 0 7.5px;
  }
}

#textHesab {
  font-size: 12px !important;
}

#navArrow {
  font-size: 9px;
  padding: 0 0 0 5px;
}

#barNavlist {
  display: none;
  background-color: #ff8300;
  padding: 9px 8px;
  width: 42.6px;
  height: 36.6px;
  border-radius: 4px;

  i {
    color: #fff;
    font-size: 25px;
  }
}

#barNavlist2 {
  display: none;
  background-color: #fff;
  padding: 9px 8px;
  width: 42.6px;
  height: 36.6px;
  border-radius: 4px;

  i {
    color: #ff8300;
    font-size: 25px;
  }
}

nav {
  position: relative;
}

#ctegoryList {
  background-color: #fff;
  color: #ff8300;
  display: flex;
  align-items: center;
  border-top: 5px solid #ff8300;
  border-bottom: 5px solid #ff8300;
  border-radius: 5px;
  height: 55px;
  padding-left: 15px;
  position: relative;
  width: 240px;
  margin-right: 50px;
  transition: .5s;
}

/* 
#ctegoryList:hover #categoryBarAp {
  height: auto;
}*/

#categoryBarAp li:hover {
  background-color: #fed9be;
}

.item-cat-image {
  width:35%;
  height: 375px;
  object-fit: cover;
  margin-right: 8px;

  img {
    width: 100%;
    height: 100%;
  }
}

#navLinksResponsive {

  transition: .5s;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  padding: 20px;
  background-color: #fff;
  width: 280px;
  height: 100%;

  li {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 400;
  }
}

.tabs-product {
  width: 100%;
  border-radius: 10px !important;
  text-align: center;

  p {
    font-size: 10px;
    color: #222;
    font-weight: 600;
  }

  H5 {
    padding: 20PX 0;
    font-weight: 600;
    font-size: 22px;
  }

  img {
    width: 171px !important;
    height: 171px !important;
    object-fit: cover !important;
    margin: auto;
  }
}

.addBasketBtn {
  background-color: #ff8300;
  color: #fff;
  padding: 2px 21px;
  border-radius: 15px;
  margin: 15px 0;
}

#headerLinksResponsive {
  transition: .5s;
  position: relative;
  position: absolute;
  top: 44px;
  left: 0;
  padding: 20px;
  background-color: #fff;
  width: 310px;
  z-index: 9;
  height: auto;

  li {
    border-bottom: 1px solid #e1e1e1;
    padding: 7px 0;

    span {
      padding-left: 13px;
      font-size: 15px;
      font-weight: 400;
      color: #000;
      text-transform: uppercase;
    }
  }
}

.mannn {
  background-color: #f2f2f2;
}

.catName {
  margin: 0 10px 0 15px;
}

.closed {
  left: -100% !important;
}

.open {
  left: 0 !important;
}

#plus {
  width: 22px;
  height: 22px;
  background-color: #ff8300;

  i {
    color: #fff;
  }
}

body {
  background-color: #f2f2f2;
}

.catRootLi {
  padding: 0 !important;
}

.catRootLink {
  padding: 8px 15px !important;
  display: inline-block;
  width: 100%;
}

#categoryBarAp {
  transition: .5s;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 45px;
  height: auto;
  /* display: none; */
  left: 0;

  li {
    cursor: pointer;
    border-bottom: 1px solid #e1e1e1;
    padding: 8px 15px;

    span {
      color: black;
      font-weight: 700;
      font-size: 11px;
      transform: translateX(-7px);
    }

    i {
      font-size: 10px;
      margin-top: 4.5px;
      color: black;
    }
  }
}

#ctegoryList:hover #categoryBarAp {
  display: block;
}

#endirimSlider {
  margin-left: 250px;
}
#endirimCart{
  margin-left: 250px;

}
.addBasketBtn{
margin-bottom: 45px!important;
}
.bg-boz {
  background-color: #f2f2f2;
}

#endirimler {

  padding-bottom: 120px;
}

.endirimBox {
  background-color: #fff;
  width: 31.5%;
}

#barEnd {
  display: none;
  font-size: 22px;
  color: #fff;
}

.endirimBoxTest {
  padding: 8px 0;
}

.SliderFoto {
  margin-bottom: 10px;
}

.tabs-product {
  background-color: #fff;
  border-radius: 15px;
}

.counter {
  i {
    font-size: 12px;
    color: #ff8300;
  }

  span {
    padding: 0 25px;
  }
}

.resImg {
  display: none;
}

.categoryBarApList {
  position: relative;

  div {
    transition: 5s;
    overflow: hidden;
    height: 0;
    position: absolute;
    left: 240px;
    width: 250px;
    background-color: #fff;
    border-radius: 1px sloid black;
    top: 0;

    li {
      color: #000;
    }
  }
}


.categoryBarApList:hover div {
  height: auto;
}

@media only screen and (max-width: 1280px) {
  .resImg {
    display: initial;

  }

  .tabs-productCat {
    width: 44% !important;
  }

  .resContainer {
    display: initial !important;
  }

  .products {
    gap: 7px;
    width: 100%;
  }


  .endProdut {
    display: none;
  }


}

@media only screen and (max-width: 960px) {


  #catFelxContainer {
    margin: 0;
  }

  .tabs-productCat {
    width: 28% !important;
  }

  .resImg2 {
    display: none;
  }

  .endProduct2 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #barNavlist2 {
    display: flex;
  }

  #barNavlist {
    display: none !important;
  }

  .tabs-productCat {
    width: 48% !important;
  }

  #textHesab {
    display: none;
  }

  #hesabEndicon {
    margin-right: 10px !important;
  }

  .item-cat-image {
    display: none !important;
  }


  .basketRes {
    left: -95px;
  }

  .endProduct3 {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .basketRes {
    padding: 5px;
    width: 300px!important;
    left: -130px;
  }
}

@media only screen and (max-width: 990px) {

  #barEnd {
    display: initial;
  }

  #endirimSlider {
    margin: 0 !important;
  }
  #endirimCart{
    margin: 0 !important;

  }
  #ctegoryList {
    display: none !important;
  }

  #resBox {
    display: none;
  }

  .endirimBox {
    width: 48% !important;
  }

}

@media only screen and (max-width: 477px) {
  .tabs-productCat {
    width: 100% !important;
  }
}

@media only screen and (max-width: 590px) {
  #header-search {
    button {
      font-size: 11px;
      height: 30px;
    }

    input {
      font-size: 11px;
    }

  }

  #logo {
    width: 100px;
    margin-right: 5px;
  }

}

@media only screen and (max-width: 1280px) {
  #navList {
    display: none;
  }
  .item-cat-image{
    margin-bottom: 20px;
    height: auto;
    width: 100%!important;
  }
  #test {
    display: none;
  }

  #barNavlist {
    display: flex;
    margin-left: 50px;
  }

  #header-search {
    width: 100%;

  }

  .boxx {
    width: 100%;
  }
}
/* Slider */
/* Birinci slider üçün */
.mySwiper1 .swiper-button-next {
  position: absolute;
  top: 50%;  
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-50%);
  border: none; 
  width: 35px;
  height: 82px;
  padding: 10px; 
  transition: background-color 0.3s; 
  border-top-left-radius: 41px; /* Hündürlüyün yarısı */
  border-bottom-left-radius: 41px; /* Hündürlüyün yarısı */
  right: 0;
}
.mySwiper1 .swiper-button-next::after{
  color: #ff8300;
  font-size: 15px;
}
@media (max-width: 768px) {
  .mySwiper1 .swiper-button-next{
    transform: translateY(-25%);

  }
  .mySwiper1 .swiper-button-prev{
    transform: translateY(-25%)!important;

  }
}
.mySwiper1 .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none; 
  width: 35px;
  height: 82px;
  padding: 10px; 
  transition: background-color 0.3s; 
  left: 0;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0; 
}

.mySwiper1 .swiper-button-prev::after{
  font-size: 15px;
  color: #ff8300;
}

/* Yalniz neptunda Slider */


/* slider1 */
.custom-swiper-button-next,
.custom-swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 82px;
    padding: 10px; 
    background-color: #f2f2f2;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    right: 0;

}

.custom-swiper-button-next {
  right: 0;
  border-top-left-radius: 41px;
  border-bottom-left-radius: 41px; 
}

.custom-swiper-button-prev {
  border-top-right-radius: 41px;
  border-bottom-right-radius: 41px; 
    left: 0;
}

/* slider2 */
.custom-swiper-button2-next,
.custom-swiper-button2-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 82px;
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    right: 0;

}

.custom-swiper-button2-next {
  right: 0;
  border-top-left-radius: 41px;
  border-bottom-left-radius: 41px; 
}

.custom-swiper-button2-prev {
  border-top-right-radius: 41px;
  border-bottom-right-radius: 41px; 
    left: 0;
}